  .my-img {
    float: left; 
    max-width: 500px; 
    max-height: 300px;
    padding: 5px 15px;
  }
  .contacts {
    list-style-type: none;
  }

  .contact-ico {
    max-width: 48px;
    padding: 5px 10px;
  }